* {
    font-family: sans-serif;
}

body {
    margin: 0px;
}


/* header */

header {
    width: 100%;
    height: 50px;
}

ul {
    padding: 0px;
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    margin-right: 100px;
    text-align: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

.menu img {
    width: 100%;
    height: 50px;
}


/* fin header */


/* news */

#news div {
    border: solid 1px black;
}

#news {
    min-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fila {
    display: flex;
    height: 100%;
    background-color: #7efff3;
}

.colm {
    min-width: 490px;
    height: 300px;
    width: 100%;
}

.colm {
    float: right;
}

.colm img {
    border: solid 1px black;
    width: 200px;
    height: 130px;
    position: initial;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.colm p {
    padding-left: 10px;
    padding-right: 10px;
}

.colm h3 {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}


/* fin news */


/* footer */

footer {
    display: flex;
    border: solid 1px black;
    background-color: #ffce47;
}

footer img {
    width: 200px;
    height: 200px;
}

footer div {
    width: 50%;
    text-align: center;
}

.autores {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

.autores ul {
    list-style: none;
}


/* fin footer */